@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";
@import 'partials/mixins';
@import 'partials/variables';

// REGOLE GENERALI:
body{
    color: $black;
}

a{
    text-decoration: none;
    color: $black;
}

ul li{
    list-style: none;
}

// REGOLE NAVBAR:
nav{
    background-color: $black;
    height: 70px;

    a{
        color: $pink;

        &:hover{
            color: #fff;
        }
    }
    
    .myProfile{
        padding-left: 20px;
    }
}

.myWave{
    margin-top: -95px;
}

.btmWave{
    margin-top: -50px;
}

// REGOLE HOME:
.myMainTitle{
    margin-top: 35px;
    font-size: 60px;
    color: $black;
}

.ms-wrapper{
    background-color: $pink;

    .container{

        .myCards{
            @include flex ($type: 'wrap');
            margin-inline: -20px;
        }

        // REGOLE CARDS:
        .card{
            width: calc(100% / 3 - 40px);
            margin: 70px 20px;
            padding: 20px;
            background-color: #FEFCF3;
            box-shadow:0px 20px 10px 0px #b7bec2;
            color: $black;
            position: relative;
            min-height: 400px;

            img{
                width: 90%;
                height: 250px;
                object-fit: cover;
                position: absolute;
                top: -100px;
                border-radius: 10px;
            }

            .mytext{
                margin-top: 150px;

                h3{
                    font-weight: bold;
                    color: $black;

                    &:hover{
                        text-decoration:underline;
                    }
                }

                p{
                    font-style: italic;
                    padding-inline: 10px;
                }

            }
        }
    } 
}

.repoLink{
    margin-top: 15px;

    a{
        color: $black;
        
        &:hover{
            text-decoration:underline;
        }
    }
}

// REGOLE SHOW:
.show{
    background-color: $pink;

    .myCard{
        @include flex ($type: 'flex');
        padding: 20px;

        .myText{
            width: 40%;
            align-self: center;
            padding-left: 40px;

            p{
                line-height: 30px;
            }
        }
    }
}

// REGOLE PAGINA LOGGATA:
.logged{
    position: relative;

    .createForm{
        position: absolute;
        top: -120px;
        font-size: 35px;
        
        a:hover{
            color: $black;
            text-decoration: underline;
        }
    }
    
    .myButtons{
        margin-top: 30px;
    
        a{
            display: inline-block;
            border: 3px solid $black;
            color: $black;
            border-radius: 20px;
            padding: 5px 20px;
    
            &:hover{
                border: 3px solid #DBA39A;
                color: #DBA39A;
            }
        }
    
        .myEdit{
            margin-left: 10px;
        }
    }
}

// REGOLE FORM:
.myFormTitle{
    font-size: 60px;
    color: $black;
    margin-bottom: 30px;
}

form{
    width: 60%;
    border-radius: 15px;
    background-color: #FEFCF3;
    padding: 50px 40px;

    .form-group{
        margin-bottom: 15px;

        label{
            margin-bottom: 5px;
        }
    }

    .mySubBtn{
        display: block;
        margin-top: 30px;
        background-color: #FEFCF3;
        border: 3px solid $black;
        color: $black;
        border-radius: 20px;
        padding: 5px 20px;

        &:hover{
            border: 3px solid #DBA39A;
            color: #DBA39A;
        }
    }
}
