@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";
@import 'partials/mixins';
@import 'partials/variables';

// REGOLE GENERALI:
a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

// REGOLE NAVBAR:
nav{
    background-color: $black;
    height: 70px;

    a{
        color: $pink;

        &:hover{
            color: #fff;
        }
    }

    .myProfile{
        padding-left: 20px;
    }
}

// REGOLE HOME:
.myWave{
    margin-top: -90px;
}

.myMainTitle{
    margin-top: 35px;
    font-size: 60px;
    color: $black;
}

.ms-home{
    background-color: $pink;

    .container{

        .myCards{
            @include flex ($type: 'wrap');
            margin-inline: -20px;
        }

        // REGOLE CARDS:
        .card{
            width: calc(100% / 3 - 40px);
            margin: 70px 20px;
            padding: 20px;
            background-color: #FEFCF3;
            box-shadow:0px 20px 10px 0px #b7bec2;
            color: $black;
            position: relative;
            min-height: 400px;

            a{
                color: $pink;
            }

            img{
                width: 90%;
                height: 250px;
                object-fit: cover;
                position: absolute;
                top: -100px;
            }

            .mytext{
                margin-top: 150px;

                h3{
                    font-weight: bold;
                    color: $black;

                    &:hover{
                        text-decoration:underline;
                    }
                }

                p{
                    font-style: italic;
                    padding-inline: 10px;
                }

                .repoLink{
                    margin-top: 15px;

                    a{
                        color: $black;
                        
                        &:hover{
                            text-decoration:underline;
                        }
                    }
                }
            }
        }
    }
   

    
}


